@import "../../variables";

.employment {
  .history {
    &:not(:first-of-type) {
      margin-top: 1.5em;
    }
    p {
      margin: 0;
    }
    .divider {
      position: relative;
      padding-top: 1px;
      background-color: $content-color;
      display: inline-block;
      width: 20px;
      top: -4px;
    }
  }
  .history-sublisting {
    li {
      list-style-type: disc;
    }
  }
}
