@import "../_variables.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif-family;
}
p,
span,
a,
article,
strong {
  font-family: $sans-serif-family;
  color: $content-color;
}
.header {
  background-color: $header-background-color;
  text-align: center;
  h1 {
    margin: 0;
    margin-top: 1rem;
    font-size: 2.2em;
  }
  p {
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 1em;
  }
  h1,
  p {
    color: white;
  }
  img {
    width: 75px;
  }
  hr {
    margin: 0;
    padding: 2px;
    background-color: #4e4e4e;
  }
}

.subheader {
  p {
    font-family: $sans-serif-family;
    text-transform: none;
    font-size: 0.8em;
    margin: 0;
    padding: 1em;
    width: auto;
    color: white;
    svg {
      margin-right: 0.7em;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
